<section id="mainContent">
           <!-- ===== Header ===== -->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>

            <div>
                <a href="#" class="nav__logo">Matheus Renner</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x'></i>
                </div>

                <ul class="nav__list">
                    <li class="btn-back"><a [routerLink]="['/home']" class="nav__link"> <span> < </span>Back to the page</a></li>
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#projects" class="nav__link">Projects</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!-- ========== Home ========== -->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <div class="home__data">
                    <div class="home__img">
                        <img src="assets/img/" alt="">
                    </div>

                    <h1 class="home__title">Matheus Renner</h1>
                    <span class="home__profession">Full-Stack Developer</span>

                    <div class="home__social">
                        <a href="" class="home__social-link"><i class='bx bxl-linkedin'></i></a>
                        <a href="" class="home__social-link"><i class='bx bxl-github'></i></a>
                        <a href="" class="home__social-link"><i class='bx bxl-dribbble'></i></a>
                        <a href="" class="home__social-link"><i class='bx bxl-behance'></i></a>
                    </div>

                    <a download="" href="#" class="button home__button">Download Resume</a>
                </div>
            </div>
        </section>

        <!-- ========== Project In Mind ========== -->
        <section class="project section">
            <div class="project__container bd-grid">
                <div class="project__data">
                    <h2 class="section-title project__title">Do you have a project in mind</h2>
                    <p class="project__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
                        rem molestiae</p>
                    <a href="#contact" class="button button__light">Contact</a>
                </div>

                <img src="./assets/img/" alt="" class="project__img">
            </div>
        </section>

        <section class="wrapper" id="projects">
            <div class="border-wrapper">
                <h2>Projetos</h2>
            </div>
            <div class="cards_wrap">
                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- ========== Footer ========== -->
    <footer class="footer section">
        <div class="footer__container bd-grid">
            <h1 class="footer__title">Cientizi</h1>
            <p class="footer__description">
                Apoie ou invista na comunidade científica, ajudando milhões de projetos á alcançar seu espaço na
                inovação e contribuição de um mundo evoluído e melhor.
            </p>

            <div class="footer__social">
                <a href="#" class="footer__link"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="footer__link"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="footer__link"><i class="bx bxl-twitter"></i></a>
            </div>

            <p class="footer__copy">All right reserved by DevBox</p>
        </div>
    </footer>
</section>