<main>
	<div id="workPlease">
		<a [routerLink]="['/home']" style="position: absolute; top: 6%; left: 70px; color: #8571C9; font-size: 16px;">
			<span style="font-size: 35px; position: absolute; top: -14px; left: -23px;"> 
				<
			</span>
			Retornar ao inicio
		</a>
		<div class="login-content" style="margin: 50.5% 0; display: block;" id="workPleaseTwo">
			<span style="margin: auto;">
                Algo deu errado D: 
            </span>
            <br> <br>
            <span style="margin-top: 10px;">Página não encontrada</span>
                    
            
		</div>
	</div>
</main>