<main>
	<div id="workPlease">
		<a [routerLink]="['/home']"style="position: absolute; top: 6%; left: 70px; color: #8571C9; font-size: 16px;">
			<span style="font-size: 35px; position: absolute; top: -14px; left: -23px;"> 
				<
			</span>
			Retornar ao inicio
		</a>
		<div class="login-content" id="workPleaseTwo">
			<form [formGroup] ='form' (ngSubmit)="registerProjc()">
				<h3>Cadastre seu projeto</h3>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" placeholder="Nome do projeto" formControlName="name">
           		   </div>
           		</div>
				   <div class="div">
					<h5>Resumo do projeto</h5>
					<textarea cols="45" rows="6" class="input" formControlName="description"></textarea>
				</div>
				<div class="div">
					<h5>Objetivos do projeto</h5>
					<textarea cols="45" rows="6" class="input" formControlName="objective"></textarea>
				</div>

            	<input type="submit" class="btn" value="Registrar">
            </form>
		</div>
	</div>
</main>