<body>
	<img class="wave" src="../../assets/img/wave.png">
	<div class="container">
		<a href="index.html" style="position: absolute; top: 6%; left: 70px; color: #8571C9; font-size: 16px;">
			<span style="font-size: 35px; position: absolute; top: -14px; left: -23px;"> 
				<
			</span>
			Retornar ao inicio
		</a>
		<div class="img">
			<img src="../../assets/img/bg.svg">
		</div>
		<div class="login-content">
			<form action="#">
				<h3>Cadastre seu projeto</h3>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text" class="input" placeholder="Nome dos projetos">
           		   </div>
           		</div>
				   <div class="div">
					<h5>Resumo do projeto</h5>
					<textarea cols="50" rows="6" class="input"></textarea>
				</div>
				<div class="div">
					<h5>Objetivos do projeto</h5>
					<textarea cols="50" rows="6" class="input"></textarea>
				</div>

            	<input type="submit" class="btn" value="Registrar">
            </form>
        </div>
    </div>
</body>