<body>
	<img class="wave" src="./assets/img/wave.png">
	<div class="container">
		<a href="index.html" style="position: absolute; top: 6%; left: 70px; color: #8571C9; font-size: 16px;">
			<span style="font-size: 35px; position: absolute; top: -14px; left: -23px;"> 
				<
			</span>
			Retornar ao inicio
		</a>
		<div class="img">
			<img src="./assets/img/bg.svg">
		</div>
		<div class="login-content">
			<form [formGroup] ='form' (ngSubmit)="login()">
				<img src="./assets/img/avatar.svg">
				<h2 class="title">Bem vindo</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>email</h5>
           		   		<input type="text" class="input" formControlName="email">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Senha</h5>
           		    	<input type="password" class="input" formControlName="name">
            	   </div>
            	</div>
            	<a href="#">Esqueceu sua senha?</a>
            	<button type="submit" class="btn" value="Entrar"></button>
            </form>
        </div>
    </div>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
</body>