    <!--========== Header init ==========-->
    <header>
        <div class="container">
            <nav>

                <!--========== Logo ==========-->
                <div class="nav-brand">
                    <a href="index.html">
                        <img src="" alt="logo">
                    </a>
                </div>

                <!--=========== Hamburger Icon ==========-->
                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>

                <!--========== Nav Itens ==========-->
                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item">
                        <a href="#" class="nav-link current">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="./login.html" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a href="./register.html" class="nav-link">Register</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--========== Header End ==========-->


    <!--========== Main ==========-->
    <main>
        <section class="hero">
            <div class="container">
                <div class="main-message">
                    <h3>DevBox</h3>
                    <h1>CIENTIZI</h1>
                    <p>
                        Apoie ou invista na comunidade científica, ajudando milhões de projetos á alcançar seu espaço na
                        inovação e contribuição de um mundo evoluído e melhor.
                    </p>
                    <div class="cta">
                        <a href="#" class="btn" id="buttom-header">Saiba mais</a>
                    </div>
                </div>
            </div>
        </section>


        <section class="box" style="width: 70%; margin: 2% auto;">
            <div class="box-choose" >
                <div class="content-box">
                    <h2>Crie sua campanha?</h2>
                    <div class="button-change">
                        <a class="btn" href="#" style="padding:0 20px;">Crie uma campanha</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>

        <section class="experience-outdoors">
            <div class="container">
                <div class="title-heading">
                    <h1>Os pilares do Cientizi</h1>
                </div>

                <div class="activities-grid">
                    <!-- Grid item #1 -->
                    <div class="activities-grid-item star-gazing">
                        <i class="icon ion-md-star"></i>
                        <h1>Alguma coisa</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim illum quae id doloremque autem
                            tempora. Aliquam nobis commodi iusto, beatae ab recusandae officia quidem, quia modi vitae
                            veniam quaerat repellat!
                        </p>
                    </div>

                    <!-- Grid item #2 -->
                    <div class="activities-grid-item hiking">
                        <i class="icon ion-md-compass"></i>
                        <h1>Outra coisa</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim illum quae id doloremque autem
                            tempora. Aliquam nobis commodi iusto, beatae ab recusandae officia quidem, quia modi vitae
                            veniam quaerat repellat!
                        </p>
                    </div>

                    <!-- Grid item #3 -->
                    <div class="activities-grid-item camping">
                        <i class="icon ion-md-bonfire"></i>
                        <h1>Aquela coisa</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim illum quae id doloremque autem
                            tempora. Aliquam nobis commodi iusto, beatae ab recusandae officia quidem, quia modi vitae
                            veniam quaerat repellat!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="wrapper">
            <div class="border-wrapper">
                <h2>Projetos</h2>
            </div>
            <div class="cards_wrap">
                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>

                <div class="card_item">
                    <div class="card_inner">
                        <img src="./assets/img/profile-pic.jpg" alt="">
                        <div class="role_name">Projeto tal</div>
                        <div class="real_name">alguma coisa</div>
                        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae placeat
                            dolorem
                            mollitia odit labore dignissimos quidem necessitatibus error aperiam expedita, vero unde
                            ipsa quo dolore! Deserunt, perferendis quod. Sit, amet.</div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>