<app-nav-bar></app-nav-bar>
<main>
    <section id="project-main">
        <section id="content">
            <section id="photo">
                <img class="round" src="{{projects.icon}}" width="300px" alt="">
            </section>
            <section id="description">
                <h1>Autores: {{name}} </h1>
                <h2>{{projects.name}}</h2>

                <section id="descText">
                    <p class="text">
                        {{projects.description}}                        
                    </p>                        
                </section>
            </section>


            <section id="objectives">
                <section id="imgDiv">
                    <section id="img1">
                        <img src="{{projects.icon}}" width="350px" height="245px" alt="">
                    </section>
                    <section id="img2">
                        <img src="{{projects.icon}}" width="350px" height="245px" alt="">
                    </section>
                </section>
                <section id="objetiveText">
                    <h2>Objectives</h2>
                    <p>
                        {{projects.objective}}    
                    </p>
                </section>
            </section>                   
        </section>
        <section id="side-bar">
            <section id="rewards">
                <h2>Tier I</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non sint quas fuga, ex accusantium nisi amet possimus ad vel distinctio minus culpa! Iste, distinctio pariatur ullam deleniti dignissimos quia.
                </p>
                <h2>Tier II</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio alias in a ducimus voluptatem sunt nemo enim ipsa tempore, itaque est eum dignissimos nesciunt iusto perferendis eos sed dolor repellat.
                </p>
                <h2>Tier III</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime neque quibusdam nulla distinctio consectetur aperiam quasi magni nesciunt molestias reprehenderit? Aspernatur quam perferendis odio quo obcaecati perspiciatis corrupti esse ad.
                </p>
            </section>
            <section id="donate">
                <button type="submit">Apoie</button>                    
            </section>
        </section>
    </section>
</main>
