<main>
    <section id="project-main">
        <section id="content">
            <section id="photo">
                <img class="round" src="assets/img/bees.jpg" width="300px" alt="">
            </section>
            <section id="description">
                <h1>Autores...</h1>
                <h2>Estudo sobre...</h2>

                <section id="descText">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Odio quas provident deserunt deleniti error voluptas
                        expedita dolores quae sequi illum. Culpa itaque veritatis 
                        laboriosam eveniet eum, delectus reprehenderit inventore expedita.
                    </p>                        
                </section>
            </section>


            <section id="objectives">
                <section id="imgDiv">
                    <section id="img1">
                        <img src="../../assets/img/bees2.jpg" width="350px" height="245px" alt="">
                    </section>
                    <section id="img2">
                        <img src="../../assets/img/bees.jpg" width="350px" alt="">
                    </section>
                </section>
                <section id="objetiveText">
                    <h2>Objectives</h2>
                    <p>
                        Ad fugiat excepteur anim ipsum. Non minim anim duis minim nulla deserunt ad dolor nulla est adipisicing occaecat. Id qui amet non labore eu deserunt aliquip officia. Irure pariatur nisi officia elit occaecat nulla proident est id id incididunt. Anim veniam amet pariatur magna ad duis nulla adipisicing aute officia et magna amet. Eu eiusmod et aliqua qui laborum laborum irure mollit fugiat ipsum in quis officia nisi. Ea consectetur aute consectetur consectetur minim ex aute anim anim.

                        Lorem amet nostrud ipsum velit duis pariatur tempor ad aliquip. Dolor veniam tempor pariatur duis adipisicing. Tempor anim velit commodo ex aliquip non nostrud. Voluptate aliquip tempor aliquip elit voluptate incididunt mollit ipsum ullamco. Consequat do ea id incididunt eu fugiat dolor et pariatur sunt eu dolore. Esse veniam irure commodo non nisi quis est et cupidatat minim.

                        Nisi veniam ipsum magna nisi consequat incididunt velit officia ex in. Cupidatat et elit in do qui incididunt anim pariatur proident quis amet. Cupidatat in mollit occaecat sint ipsum consectetur elit commodo aliquip aliquip.    
                    </p>
                </section>
            </section>                   
        </section>
        <section id="side-bar">
            <section id="rewards">
                <h2>dsadasdas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui non sint quas fuga, ex accusantium nisi amet possimus ad vel distinctio minus culpa! Iste, distinctio pariatur ullam deleniti dignissimos quia.</p>
            </section>
            <section id="donate">
                <button type="submit">Apoie</button>                    
            </section>
        </section>
    </section>
</main>
