<body>
	<img class="wave" src="./assets/img/wave.png">
	<div class="container">
		<a href="index.html" style="position: absolute; top: 6%; left: 70px; color: #8571C9; font-size: 16px;">
			<span style="font-size: 35px; position: absolute; top: -14px; left: -23px;"> 
				<
			</span>
			Retornar ao inicio
		</a>
		<div class="img">
			<img src="./assets/img/bg.svg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="./assets/img/avatar.svg">
				<h2 class="title">Bem vindo</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Nome de Usuário</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Senha</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>

                <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>E-mail</h5>
                            <input type="text" class="input">
                    </div>
                 </div>

                 <div class="input-div one">
                    <div class="i">
                            <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                            <h5>E-mail novamente</h5>
                            <input type="text" class="input">
                    </div>
                 </div>
				 <a href="#">Já possui uma conta?</a>
            	<input type="submit" class="btn" value="Registrar">
            </form>
        </div>
    </div>
</body>